#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 650px) {
  .card h1 {
    font-size: 25px;
    font-weight: 900;
  }
  .buttons {
    flex-direction: column-reverse;
  }
}